* {
    margin: 0;
}
.header-top-address {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 34px;
}
.top-info {
  margin-right: 50px;
  
}
.top-info>a {
    text-decoration: none;
    color: #fff;
    margin-left: 70px;
}
.header-top-address>address {
    margin-left: 50px;
    color: #fff;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.header-logo {
    margin: 12px auto 11px 50px
}

.nav-link {
    display: flex;
}
.header-nav>ul {
    list-style-type: none;
}
.nav-link>li>a {
    text-decoration: none;
    color: #20242D;
    margin: auto 56px;
}
.nav-link a:hover{
    color: #FF7129;
}