@font-face {
    font-family: "gilroy";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf);
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    font-family: "Gilroy", "Helvetica", sans-serif;;
    font-style: normal;
}
html {
    box-sizing: content-box;
}

/*index.html*/
.header {
    width: 100%;
}
.header-wrapper-black {
    background-color: #20242D;
}
.conteiner {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 34px;
}
.header-link:nth-child(2) {
    margin-left: auto;
}
.header-link:nth-child(3) {
   font-weight: 500;
}
.address {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.header-link {
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    position: relative;
}
.header-link::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/index/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -21px;
}
.header-link:last-child::before {
    background-image: url(../img/index/tel.svg);
}
.nav-link {
    list-style: none;
    margin: 0;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    display: flex;
}
.nav-item {
    margin-right: 56px;
    text-decoration: none;
    color: #20242D;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.header-logo {
    padding-top: 12px;
    padding-bottom: 11px;
}
.nav-item.nav-item-line {
    position: relative;
}
.nav-item.nav-item-line:active:before,
.nav-item.nav-item-line:active:after{
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #da6227;
    top: 8px;
}
.nav-item.nav-item-line::before {
    left: -18px;
}
.nav-item.nav-item-line::after {
    right: -18px;
}
.nav-item:hover {
    color: #FF7129;
}
.nav-item:focus {
    color: #e04d04;
}
.nav-item:active {
    color: #d65818;
}
.top-wrapper {
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url(../img/index/background.jpg);
    min-height: 844px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.top-wrapper::before{
    content: 'SOLAR';
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 167px;
    left: 50px;
}
.top-wrapper::after{
    content: 'ENERGY';
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 417px;
    right: 50px;
    left: 1106px
}
.top-content {
    position: relative;
    color: #fff;
    text-align: center;
}
.banner {
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    padding-top: 271px;
    text-align: center;
}
.banner-text {
    padding-top: 16px;
    margin-right: auto;
    font-weight: normal;
    max-width: 508px;
    margin-left: auto;
    line-height: 24px;
}
.first-button {
    padding-top: 59px;
    margin-right: auto;
}
.banner-button {
    background-color:  #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    border: 1px solid #ff7129;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 47px;
}
.banner-button:hover {
    background-color: #f8661c;
}
.banner-button:focus {
    background-color: #d87849;
}

.medium-section {
    width: 100%;
}
.medium-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 115px; 
    position: relative;  
}
.medium-conteiner::before {
    position: absolute;
    content: "INFO";
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    opacity: 0.1;
    width: 217px;
    height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    top: 112px;
    left: 970px;
}
.vertical-line {
    position: relative;
}
.house {
    padding-left: 202px;
    padding-top: 132px;
    background-image: url(../img/index/fon-house.png);
    background-position: 28px 90px;
    background-repeat: no-repeat;
}
.medium-content-chapter {
    margin-left: 82px;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    position: relative;
}
.medium-content-chapter::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    left: -17px;
}
.content-text {
    margin-left: 65px;
    max-width: 535px;
    min-height: 216px;
    font-weight: normal;
    line-height: 24px;
}
.paragraph {
    padding-bottom: 2em;
}
.footer{ 
    width: 100%;
}
.footer-wrapper-black {
    width: 100%;
    min-height: 207px;
    background-color: #20242d;
}
.footer-nav {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    min-height: 144px;
    position: relative;
}
.footer-nav::after {
    position: absolute;
    content: "";
    width: 1080px;
    height: 1px;
    background: #7B7E85;
    bottom: 10px;
    opacity: 0.3;
}
.footer-link {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-item-footer {
    margin-right: 56px;
    color:#fff;
    text-decoration: none;
}
.nav-item-footer:hover {
    color: #FF7129;
}
.nav-item-footer:focus {
    color: #e04d04;
}
.nav-item-footer:active {
    color: #d65818;
}
.space-item {
    margin-right: 0;
}
.bt-popup {
    margin-right: 50px;
}
.footer-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 63px;
    padding-right: 62px;
    background-color: #20242d;
    border: 1px solid #ff7129;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px; 
}
.footer-button:hover {
    border: 1px solid #cc5317;
    background-color: #262a35;
}
.footer-button:active {
    border: 1px solid #e46c30;
    background-color: #202227;
}
.footer-button:focus {
    border: 1px solid #e46c30;
    background-color: #3a3c44;
}

.footer-av {
    padding-top: 24px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-av-link {
    padding-left: 20px;
    padding-right: 25px;
    color:#7B7E85;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
.footer-av-link:hover {
    color: #878a92;
}
.footer-av-link:active{
    color: #757575;
}

/*about.html*/
.main {
    width: 100%;
}
.about-back-wrraper {
    width: 100%;
    background-image: url(../img/About/background.jpg);
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about-back-wrraper::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: multiply;
    background:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
}
.about-top {
    position: relative;
}
.about-top::before {
    content: "ABOUT";
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 131px;
    left: 173px;
}
.about-text {
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 103px;
    margin-left: 217px;
    position: relative;
}
.about-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    left: -17px;
}
.about-content {
    width: 100%;
    min-height: 432px;
    background-image: url(../img/About/left-fon.png);
    background-repeat: no-repeat;
    background-position: 0 120px;
}
.all-text {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    min-height: 168px;
    max-width: 1600px;
    font-weight: normal;
    line-height: 24px;
}
.left-paragraph {
    margin-bottom: 2em;
    max-width: 534px;
    
}
.right-paragraph {
    margin-left: 66px;
    max-width: 534px;
}

/*projekty*/
.projekty-main {
    width: 100%;

}
.projekty-back-title {
    position: relative;
}
.projekty-back-title::before {
    content: "GALLERY";
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    opacity: 0.1;
    top: 56px;
    left: 174px;
}
.main-banner {
    font-weight: bold;
    font-size: 48px;
    color: #20242D;
    line-height: 97%;
    padding-top: 125px;
    margin-left: 218px;
    margin-bottom: 37px;
    position: relative;
}
.main-banner::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    left: -17px;
}
.main-slaider{
    display: flex;
    justify-items: center;
    margin: 0 auto;
    padding-bottom: 153px;
}

/*kontakt*/
.kontakt-main {
    width: 100%;
    min-height: 782px;
}
.kontakt-main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color:#7B7E85;
    opacity: 0.15;
}
.kontakt-back-banner {
    position: relative;
}
.kontakt-back-banner::before {
    content: "CONTACTS";
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    opacity: 0.1;
    top: 56px;
    left: 174px;
}
.kontakt-banner {
    font-size: 48px;
    line-height: 97%;
    font-weight: bold;
    color: #20242D;
    padding-top: 125px;
    padding-left: 217px;
    margin-bottom: 67px;
}
.kontakt-content {
    display: flex;
    justify-content: space-between;
}
.kontakt-addresses {
    padding-left: 201px;
    align-self: center;
}
.kontakt-map {
    width: 800px;
    align-self: end;
    height: 543px;
    background-image: url(../img/kontakt/map.jpg);
    position: relative;
}
.kontakt-data {
    color:#7B7E85;
}
.kontakt-date-info {
    position: relative;
    margin-left: 28px;
    margin-bottom: 85px;
    margin-top: 12px;
}
.kontakt-date-info::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/index/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -26px;
}
.kontakt-date-info:nth-of-type(1)::before {
    background-image: url(../img/kontakt/address.svg);
}
.kontakt-date-info:last-child::before {
    background-image: url(../img/kontakt/tel.svg);
}
.kontakt-date-info-link {
    text-decoration: none;
    color: #20242D;
    font-weight: normal;
    line-height: 19px;
}
.kontakt-date-info-link-tel {
    font-weight: 600;
}

/*instalacia*/
.instalacia-top-section {
    width: 100%;
    background-image: url(../img/instalacia/back-header.jpg);
    min-height: 412px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.instalacia-top-section::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3) ;
    mix-blend-mode: multiply;
    opacity: 0.9;
}
.instalacia-banner {
    position: relative;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    color: #fff;
    z-index: 1;
    padding-top: 162px;
    text-align: center;
}
.instalacia-banner::before {
    content: "FOTON-TECH";
    position: absolute;
    font-style: normal;
    font-weight: bold;
    width: 590px;
    height: 116px;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 0;
    left: 0;
}
.instalacia-banner::after {
    content: "INSTALACJA";
    position: absolute;
    font-style: normal;
    font-weight: bold;
    width: 590px;
    height: 116px;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 321px;
    right: -10px;
}
.instalacia-medium-section {
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instalacia-content {
    max-width: 700px;
    margin-bottom: 64px;
}
.heading {
    margin-bottom: 32px;
    font-size: 36px;
    margin-left: 17px;
    line-height: 44px;
    font-weight: bold;
    position: relative;
}
.heading::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 42px;
    background-color: #ff7129;
    left: -17px
}
.instalacia-panels {
    padding-top: 24px;
    padding-bottom: 24px;
}
.instalacia-paragraph {
    font-weight: normal;
    line-height: 24px;
    color: #20242D;
    margin-bottom: 24px;
}
.instalacia-houses {
    display: flex;
}
.instalacia-houses-image {
    margin-left: 29px;
    padding-top: 24px;
    padding-bottom: 40px;
}
.instalacia-houses-image:first-child {
    margin-left: 0;
}
.instalacia-text-orang {
 color: #FF7129;
}
.instalacia-paragraph-house {
    padding: 16px 24px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    background-color: #f5f5f5;
    margin-bottom: 0;
}
.instalacia-heading-third {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    margin-bottom: 24px;
}
.line {
    margin-bottom: 30px;
}
.heading-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #20242D;
}
.instalacia-list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
 .instalacia-list-text {
    background-color: #f2f2f2;
    margin-bottom: 16px;
    position: relative;
    padding-left: 57px;
}
.instalacia-list-text:last-child {
    margin-bottom: 24px;
}
.instalacia-list-text::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 16px;
    top: 4px;
    background-image: url(../img/instalacia/list.svg);
}
.instalacia-roof-panel {
    margin-bottom: 33px;
}
.intalacia-back-grey {
    background: #f2f2f2;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 22px;
}
.intalacia-back-grey .heading {
    padding-top: 32px;
    padding-left: 2px;
    padding-right: auto;
}

/*popup*/
.popup-container {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(32, 36, 45, 0.9);
    display: none;
}
.popup-container-show {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-left: auto;
}
.popup-content {
    background-color: #fff;
    color: #20242D;
    min-width: 800px;
    position: relative;
}
.popup-content::before {
    position: absolute;
    content: "CALCULATOR";
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    top: 29px;
    left: 32px;
}
.popup-close {
    color: #20242d;
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: 0;
}
.title-oblic-popup {
    padding-top: 97px;
    padding-left: 75px;
    color: #20242D;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
}
.popup-oblic-text {
    padding-left: 58px;
    padding-top: 19px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242d;
    margin-bottom: 56px;
}
.label-oblic {
    padding-left: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
}
.slidercontainer {
    margin-top: 34px;
    padding-left: 58px;
}
.slider-popup {
    height: 6px;
    width: 682px;
}
.call-form .oblic-label-input:last-child {
    padding-left: 30px;
    padding-right: 58px;
}
.oblic-label-input {
    display: inline-block;
    padding-top: 40px;
    padding-left: 58px;
    color: #7B7E85;
}
.popup-oblic-batton {
    display: flex;
    width: 327px;
    height: 52px;
    margin-top: 12px;
    padding-left: 24px;
    line-height: 19px;
    font-weight: normal;
}
.send-button {
    padding-top: 56px;
    text-align: center;
    padding-bottom: 52px;
}
.send {
    background: #ff7129;
    min-width: 187px;
    min-height: 49px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29)
}
/*popup-oddzvon*/
.popup-container-oddzwon {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(32, 36, 45, 0.9);
    display: none;
}
.popup-container-oddzwon-show {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-left: auto;
}
.popup-content-oddzwon {
    background-color: #fff;
    color: #20242D;
    min-width: 800px;
    position: relative;
}
.popup-content-oddzwon::before {
    position: absolute;
    content: "CALLBACK";
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    top: 29px;
    left: 32px;
}
.popup-close-oddzwon {
    color: #20242d;
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: 0;
}
.title-oblic-popup {
    padding-top: 97px;
    padding-left: 75px;
    color: #20242D;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
}
.popup-oblic-text {
    padding-left: 58px;
    padding-top: 19px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242d;
    margin-bottom: 56px;
    max-width: 668px;
}
.label-oblic {
    padding-left: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
}
.call-form .oblic-label-input:last-child {
    padding-left: 30px;
    padding-right: 58px;
}
.oblic-label-input {
    display: inline-block;
    padding-left: 58px;
    color: #7B7E85;
}
.popup-oblic-batton {
    display: flex;
    width: 327px;
    height: 52px;
    margin-top: 12px;
    padding-left: 24px;
    line-height: 19px;
    font-weight: normal;
}
.send-button {
    padding-top: 56px;
    text-align: center;
    padding-bottom: 52px;
}
.send {
    background: #ff7129;
    min-width: 187px;
    min-height: 49px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29)
}
