@font-face {
    font-family: "gilroy";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf);
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf);
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    font-family: "Gilroy", "Helvetica", sans-serif;;
    font-style: normal;
}
html {
    box-sizing: content-box;
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hedaer {
    width: 100%;
}
.header-wrapper {
    width: 100%;
    background-color: #20242D;
}
.container-info{
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
.header-link:nth-child(2) {
    margin-left: auto;
}
.address {
    color: #fff;
}
.header-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 77px;
}
.header-link::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/index/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 2px;
    left: -20px;
}
.header-link:last-child::before {
    background-image: url(../img/index/tel.svg);
}
.container {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-height: 57px;
    padding-top: 12px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 16px;
}
.nav-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item {
    text-decoration: none;
    color: #20242D;
    margin-left: 56px;
    position: relative;
}
.nav-item:hover {
    color: #FF7129;
}
.nav-item:focus {
    color: #e04d04;
}
.nav-item:active {
    color: #d65818;
}
.nav-item-line {
    color: #ff7129;
}
.nav-item-line::before,
.nav-item-line::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #ff7129;
    top: 9px;
}
.nav-item-line::before {
    left: -18px;
}
.nav-item-line::after {
    right: -18px;
}
main {
    flex-grow: 1000 ;
}
.top-section {
    width: 100%;
    background-color: #20242D;
}
.top-wrapper {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%),url(../img/index/background.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 290px;
    background-repeat: no-repeat;
    position: relative;
}
.top-wrapper::before {
    content: 'solar';
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 167px;
    left: 50px;
}
.top-wrapper::after {
    content: 'ENERGY';
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 145px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 417px;
    right: 50px;
    left: 1106px;
}
.top-content {
    text-align: center;
    color: #fff;
}
.banner {
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    padding-top: 271px;
    margin-bottom: 16px;
}
.banner-text {
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto;
    max-width: 508px;
    line-height: 24px;
    margin-bottom: 59px;
}
.banner-button {
    min-width: 187px;
    min-height: 49px;
    background-color: #ff7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #fff;
    border-style: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.banner-button:hover {
    background-color: #f8661c;
}
.banner-button:focus {
    background-color: #d87849;
}
.medium-section {
    width: 100%;
    margin-bottom: 115px;
}
.medium-container {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.house {
    padding-top: 132px;
    padding-left: 200px;
    background-image: url(../img/index/fon-house.png);
    background-repeat: no-repeat;
    background-position: 0 99px;
}
.medium-content {
    position: relative;
}
.medium-content::before {
    position: absolute;
    content: "info";
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    opacity: 0.1;
    width: 217px;
    height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    left: 38px;
    top: -70px;
}
.medium-content-chapter {
    margin-left: 82px;
    margin-bottom: 64px;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    position: relative;
}
.medium-content-chapter::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    left: -16px;
}
.content-text {
    max-width: 535px;
    padding-left: 66px;
    font-weight: normal;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}
.paragraph {
    margin-bottom: 2em;
}
.footer {
    width: 100%;
}
.footer-wrapper {
    background-color: #20242D;
    
}
.footer-nav {
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer-link {
    display: flex;
    list-style: none;
}
.nav-item-footer {
    color: #fff;
    text-decoration: none;
    padding-left: 56px;
}
.nav-item-footer:hover {
    color: #FF7129;
}
.nav-item-footer:focus {
    color: #e04d04;
}
.nav-item-footer:active {
    color: #d65818;
}
.btn-popup {
    padding-top: 50px;
    padding-bottom: 45px;
}
.footer-button {
    min-width: 187px;
    min-height: 49px;
    background-color: #20242d;
    border: 1px solid #ff7129;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px; 
}
.footer-button:hover {
    border: 1px solid #cc5317;
    background-color: #262a35;
}
.footer-button:active {
    border: 1px solid #e46c30;
    background-color: #202227;
}
.footer-button:focus {
    border: 1px solid #e46c30;
    background-color: #3a3c44;
}
.footer-author {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 24px;
    padding-top: 24px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    position: relative;
}
.footer-author::before {
    position: absolute;
    content: "";
    width: calc(100% - 100px);
    height: 1px;
    bottom: 0;
    background-color: rgba(123, 126, 133, 0.3);
    top: 0px;
}
.footer-author-link {
    color: #7B7E85;
    text-decoration: none;
}
.footer-author-link:hover {
    color: #878a92;
}
.footer-author-link:active{
    color: #757575;
}

/*about*/
.about-back-wrraper {
    width: 100%;
    background-color: #20242D;
}
.about-top {
    background-image: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url(../img/About/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto; 
    padding-bottom: 103px;
    position: relative;
}
.about-top::before {
    content: "about";
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 131px;
    left: 173px;
}
.about-text {
    color: #fff;
    padding-top: 200px;
    padding-left: 217px;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
}
.about-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    left: 200px;
}
.about-content{
    width: 100%;
}
.all-text {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1600px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-top: 80px;
    padding-left: 200px;
    padding-bottom: 184px;
    position: relative;
    background-image: url(../img/About/left-fon.png);
    background-position: 0 121px;
    background-repeat: no-repeat;
}
.text-left {
    max-width: 534px;
    min-height: 168px;
}
.left-paragraph {  
    margin-bottom: 2em;
}
.text-right {
    max-width: 534px;
    margin-right: 266px;
}

/*projekty*/
.projekty-main {
    width: 100%;
}
.projekty-back-title {  
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.projekty-back-title::before {
    content: "gallery";
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    opacity: 0.1;
    top: 56px;
    left: 174px;
}
.main-banner {
    padding-top: 125px;
    padding-left: 218px;
    padding-bottom: 75px;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    position: relative;
}
.main-banner::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    left: 205px;
}
.slaider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 153px;
}
.slaider {
    position: relative;
}
.slaider::before,
.slaider::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    background-image: url(../img/projekty/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff7129;
    top: 241px;
    border-radius: 50%;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}
.slaider::before {
    left: 200px;
    
}
.slaider::after {
    right: 200px;
    transform: matrix(-1, 0, 0, 1, 0, 0)
}

/*contact*/
.kontakt-main {
    width: 100%;
    min-height: 782px;
}
.kontakt-main::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color:#7B7E85;
    opacity: 0.15;
}
.kontakt-back-banner {
    position: relative;
}
.kontakt-back-banner::before {
    content: "contacts";
    width: 379px;
    height: 145px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    opacity: 0.1;
    top: 56px;
    left: 174px;
}
.kontakt-banner {
    font-size: 48px;
    line-height: 97%;
    font-weight: bold;
    color: #20242D;
    padding-top: 125px;
    padding-left: 217px;
}
.kontakt-content {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.kontakt-addresses {
    padding-left: 201px;
    padding-top: 178px;
    max-width: 607px;
}
.kontakt-map {
    justify-items: end;
    width: 800px;
    height: 543px;
    background-image: url(../img/kontakt/map.jpg);
    position: relative;
}
.kontakt-map::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 742px;
    background-color: #7b7e85;
    top: -190px;
    right: 199px;
    opacity: 0.15;
    z-index: -1;
}
.kontakt-data {
    color:#7B7E85;
}
.kontakt-date-info {
    position: relative;
    margin-left: 28px;
    margin-bottom: 85px;
    margin-top: 12px;
}
.kontakt-date-info::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/index/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -26px;
}
.kontakt-date-info:nth-of-type(1)::before {
    background-image: url(../img/kontakt/address.svg);
}
.kontakt-date-info:last-child::before {
    background-image: url(../img/kontakt/tel.svg);
}
.kontakt-date-info-link {
    text-decoration: none;
    color: #20242D;
    font-weight: normal;
    line-height: 19px;
}
.kontakt-date-info-link-tel {
    font-weight: 600;
}
/*instalacia*/
.installation-top-section {
    width: 100%;
    background-image: url(../img/instalacia/back-header.jpg);
    min-height: 412px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.installation-top-section::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3) ;
    mix-blend-mode: multiply;
    opacity: 0.9;
}
.installation-banner {
    position: relative;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    color: #fff;
    z-index: 1;
    padding-top: 162px;
    text-align: center;
}
.installation-banner::before {
    content: "foton-tech";
    position: absolute;
    font-style: normal;
    font-weight: bold;
    width: 590px;
    height: 116px;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 0;
    left: 0;
}
.installation-banner::after {
    content: "INSTALACJA";
    position: absolute;
    font-style: normal;
    font-weight: bold;
    width: 590px;
    height: 116px;
    font-size: 96px;
    line-height: 116px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    opacity: 0.3;
    top: 321px;
    right: 0;
}
.installation-medium-section {
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.installation-content {
    max-width: 700px;
    margin-bottom: 64px;
}
.heading {
    margin-bottom: 32px;
    font-size: 36px;
    margin-left: 17px;
    line-height: 44px;
    font-weight: bold;
    position: relative;
}
.heading::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 42px;
    background-color: #ff7129;
    left: -17px
}
.installation-panels {
    padding-top: 24px;
    padding-bottom: 24px;
}
.installation-paragraph {
    font-weight: normal;
    line-height: 24px;
    color: #20242D;
    margin-bottom: 24px;
}
.installation-houses {
    display: flex;
}
.installation-houses-image {
    margin-left: 29px;
    padding-top: 24px;
    padding-bottom: 40px;
}
.installation-houses-image:first-child {
    margin-left: 0;
}
.installation-text-orang {
 color: #FF7129;
}
.installation-paragraph-house {
    padding: 16px 24px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    background-color: #f5f5f5;
    margin-bottom: 0;
}
.installation-heading-third {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    margin-bottom: 24px;
}
.line {
    margin-bottom: 30px;
}
.heading-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #20242D;
}
.installation-list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #20242D
}
.installation-list-text {
    background-color: #f2f2f2;
    margin-bottom: 16px;
    position: relative;
    padding-left: 57px;
   
}
.installation-list-text:last-child {
    margin-bottom: 24px;
}
.installation-list-text::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 21px;
    top: 4px;
    background-image: url(../img/instalacia/list.svg);
}
.installation-roof-panel {
    margin-bottom: 33px;
}
.intalacia-back-grey {
    background: #f2f2f2;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 22px;
}
.intalacia-back-grey .heading {
    padding-top: 32px;
    padding-left: 2px;
    padding-right: auto;
}
/*popup*/
.popup-container {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(32, 36, 45, 0.9);
    display: none;
}
.popup-container-show {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-left: auto;
}
.popup-content {
    background-color: #fff;
    color: #20242D;
    min-width: 800px;
    position: relative;
}
.popup-content::before {
    position: absolute;
    content: "calculator";
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    top: 29px;
    left: 32px;
}
.popup-close {
    position: absolute;
    background-image: url(../img/close-btn.svg);
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 0;
}
.title-oblic-popup {
    padding-top: 97px;
    padding-left: 75px;
    color: #20242D;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    position: relative;
}
.title-oblic-popup::before {
    position: absolute;
    content: "";
    width: 1px; 
    height: 42px;
    left: 57px;
    background-color: #ff7129;
}
.popup-oblic-text {
    padding-left: 58px;
    padding-top: 19px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242d;
    margin-bottom: 56px;
}
.label-oblic {
    padding-left: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
}
.slidercontainer {
    margin-top: 34px;
    padding-left: 58px;
}
.slider-popup {
    height: 6px;
    width: 682px;
}
.call-form .oblic-label-input:last-child {
    padding-left: 30px;
    padding-right: 58px;
}
.oblic-label-input {
    display: inline-block;
    padding-top: 40px;
    padding-left: 58px;
    color: #7B7E85;
}
.popup-oblic-button {
    display: flex;
    width: 327px;
    height: 52px;
    margin-top: 12px;
    padding-left: 24px;
    line-height: 19px;
    font-weight: normal;
}
.send-button {
    padding-top: 56px;
    text-align: center;
    padding-bottom: 52px;
}
.send {
    background: #ff7129;
    min-width: 187px;
    min-height: 49px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29)
}

/*popup-call-back*/
.popup-container-call-back {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(32, 36, 45, 0.9);
    display: none;
}
.popup-container-show-call-back {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-left: auto;
}
.popup-content-call-back {
    background-color: #fff;
    color: #20242D;
    min-width: 800px;
    position: relative;
}
.popup-content-call-back::before {
    position: absolute;
    content: "calculator";
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    top: 29px;
    left: 32px;
}
.popup-close-call-back {
    position: absolute;
    background-image: url(../img/close-btn.svg);
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 0;
}
.title-oblic-popup {
    padding-top: 97px;
    padding-left: 75px;
    color: #20242D;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
}
.popup-oblic-text {
    padding-left: 58px;
    padding-top: 19px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242d;
    margin-bottom: 56px;
}
.label-oblic {
    padding-left: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
}
.slidercontainer {
    margin-top: 34px;
    padding-left: 58px;
}
.slider-popup {
    height: 6px;
    width: 682px;
}
.call-form .oblic-label-input:last-child {
    padding-left: 30px;
    padding-right: 58px;
}
.oblic-label-input {
    display: inline-block;
    padding-top: 40px;
    padding-left: 58px;
    color: #7B7E85;
}
.popup-oblic-button {
    display: flex;
    width: 327px;
    height: 52px;
    margin-top: 12px;
    padding-left: 24px;
    line-height: 19px;
    font-weight: normal;
}
.send-button {
    padding-top: 56px;
    text-align: center;
    padding-bottom: 52px;
}
.send {
    background: #ff7129;
    min-width: 187px;
    min-height: 49px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29)
}

/*questions*/
.popup-container-questions {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(32, 36, 45, 0.9);
    display: none;
}
.popup-container-show-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-left: auto;
}
.popup-content-questions {
    background-color: #fff;
    color: #20242D;
    min-width: 800px;
    position: relative;
}
.popup-top-price {
    max-width: 800px;
    background-color: #ff7129;
    padding-bottom: 72px;
}
.labe-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    display: block;
    padding-top: 72px;
    padding-left: 58px;
    margin-bottom: 4px;
}
.price {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    padding-left: 58px;
}
.button-back {
    position: relative;
    text-align: right;
    top: -71px;
    right: 0;
    margin-right: 58px;

}
.back {
    min-width: 187px;
    min-height: 49px;
    color: #FF7129;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}
.close-questions {
    position: absolute;
    background-image: url(../img/close-btn-white.svg);
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-color: #FF7129;
    border: 0;
}
.title-oblic-popup {
    padding-top: 97px;
    padding-left: 75px;
    color: #20242D;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
}
.popup-oblic-text-questions {
    padding-left: 58px;
    padding-top: 19px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242d;
    margin-bottom: 56px;
    max-width: 693px;
}
.oblic-label-input-questions {
    display: inline-block;
    padding-top: 56px;
    margin-left: 58px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
    box-sizing:border-box;
}
.oblic-label-input-questions:nth-of-type(2) {
    margin-left: 30px;
}
.input-questions {
    display: flex;
    margin-top: 12px;
    padding-left: 24px;
    width: 327px;
    height: 52px;
}
.tel-questions {
    margin-right: 160px;
}
.send-questions {
    margin-bottom: 75px;
}
.questions-tel-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*popup-thanks*/
.popup-container-thanks {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(32, 36, 45, 0.9);
    display: none;
}
.popup-container-show-thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-left: auto;
}
.popup-content-thanks {
    background-color: #ff7129;
    color: #20242D;
    min-width: 800px;
    position: relative;
}
.popup-svg-thanks {
    position: absolute;
    background-image: url(../img/ok.svg);
    width: 81px;
    height: 57px;
    top: 93px;
    left: 349px;
}
.close-thanks {
    position: absolute;
    background-image: url(../img/close-btn.svg);
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    background-color: #ff7129;
    border: 0;
}
.title-oblic-popup-thanks {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    text-align: center;
    padding-top: 190px;
    padding-left: 122px;
    padding-right: 123px;
    margin-bottom: 24px;
}
.popup-oblic-text-thanks {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    margin-bottom: 56px;
 }
.thanks {
    background: #fff;
    min-width: 187px;
    min-height: 49px;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #ff7129;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
}
.button-thank {
    padding-top: 0;
}